.SubredditsListWrapper {
    align-items: center;
    overflow-y: scroll;
    width: 20%;
    height: 950px;
    margin:  6px 3px 6px 6px;
    text-align: center;
    padding: 20px;
    background-color: rgb(0, 15, 26, 0.7);
    border-radius: 3px;
    border: 1px solid gainsboro;
  }

  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }