.postsWrapper {
    width: 70%;
    height: 950px;
    overflow-y: scroll;
    margin:  6px 6px 6px 3px;
    text-align: left;
    padding: 0px;
    background-color: rgb(0, 15, 26, 0.7);
    border-radius: 3px;
    border: 1px solid gainsboro;
  }

  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }